extends layout

block content
    h3.
        Floods
    ul
        each flood, i in floods    
            li#flood_item
                a(href="#") #{flood.country} at coords
                #{flood.lat} #{flood.long}