extends layout

block content
  div(class='split-section' id='floods' onclick='redirect(this.id)')
    h1 Leaflet
  div(class='split-section' id='floods2' onclick='redirect(this.id)')
    h1 OpenLayers
