doctype html
html
  head
    title= title
    meta(http-equiv='Cache-Control', content='no-store')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ol.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css' type='text/css')
    script(src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js") 
    script(src="https://code.jquery.com/jquery-2.2.3.min.js")    
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js") 

body
  block content
    div(class='map' id='map')
      div#buttons
        button#start_zoom Start Zoom
        button#start_render Start Render
        button#send_data Send Render Data
        button#send_zoom_data Send Zoom Data
        button(id='clear' onclick='clearStorage()')  Clear localStorage
      #controlls
        div
          input(type="radio" id="heatmap" name="layers")
          label(for="Heatmap") Heatmap
        div
          input(type="radio" id="markers" value="Markers" name="layers")
          label(for="Markers") Markers
      #popup
      #fab-btn(onclick='showInput()') 
      #fab-input   
          span#exit-btn(onclick='showInput()') X
          h5 Render and zoom data
          div 
            div#data
                h3 Render data
            div#zoom_data 
                h3 Zoom data
  script(src='/javascripts/ol.js')
  script(src='/javascripts/shared.js')  
 
