doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/ol.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css' type='text/css')
    script(src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js") 
    script(src="https://code.jquery.com/jquery-3.4.1.js") 

body
  block content
    div(class='map' id='map')
      div(id="info" class="tooltip")
        span(id='tooltiptext')  
  script(src='/javascripts/ol.js')  
 
